Mitchells-QuickRx-Enterprise/QuickBooks/QuickBooks/QuickBooks/SalesReceiptRet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SalesReceiptRet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TxnID" type="xs:string" />
        <xs:element name="TimeCreated" type="xs:date" />
        <xs:element name="TimeModified" type="xs:date" />
        <xs:element name="Associate" type="xs:string" />
        <xs:element name="Cashier" type="xs:string" />
        <xs:element name="Comments" type="xs:string" />
        <xs:element name="CustomerListID" type="xs:string" />
        <xs:element name="Discount" type="xs:decimal" />
        <xs:element name="DiscountPercent" type="xs:decimal" />
        <xs:element name="HistoryDocStatus" type="xs:string" />
        <xs:element name="ItemsCount" type="xs:string" />
        <xs:element name="PriceLevelNumber">
          <xs:simpleType>
            <xs:restriction base ="xs:int">
              <xs:enumeration value ="1"/>
              <xs:enumeration value ="2"/>
              <xs:enumeration value ="3"/>
              <xs:enumeration value ="4"/>
              <xs:enumeration value ="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PromoCode" type="xs:string" />
        <xs:element name="QuickBooksFlag" type="xs:string" />
        <xs:element name="SalesOrderTxnID" type="xs:string" />
        <xs:element name="SalesReceiptNumber" type="xs:string" />
        <xs:element name="SalesReceiptType" type="xs:string" />
        <xs:element name="ShipDate" type="xs:date" />
        <xs:element name="StoreExchangeStatus" type="xs:string" />
        <xs:element name="StoreNumber" type="xs:string" />
        <xs:element name="Subtotal" type="xs:decimal" />
        <xs:element name="TaxAmount" type="xs:decimal" />
        <xs:element name="TaxCategory" type="xs:string" />
        <xs:element name="TaxPercentage" type="xs:decimal" />
        <xs:element name="TenderType" type="xs:string" />
        <xs:element name="TipReceiver" type="xs:string" />
        <xs:element name="Total" type="xs:decimal" />
        <xs:element name="TrackingNumber" type="xs:string" />
        <xs:element name="TxnDate" type="xs:date" />
        <xs:element name="TxnState" type="xs:string" />
        <xs:element name="Workstation" type="xs:string" />
        <xs:element name="BillingInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="City" type="xs:string" />
              <xs:element name="CompanyName" type="xs:string" />
              <xs:element name="Country" type="xs:string" />
              <xs:element name="FirstName" type="xs:string" />
              <xs:element name="LastName" type="xs:string" />
              <xs:element name="Phone" type="xs:string" />
              <xs:element name="Phone2" type="xs:string" />
              <xs:element name="Phone3" type="xs:string" />
              <xs:element name="Phone4" type="xs:string" />
              <xs:element name="PostalCode" type="xs:string" />
              <xs:element name="Salutation" type="xs:string" />
              <xs:element name="State" type="xs:string" />
              <xs:element name="Street" type="xs:string" />
              <xs:element name="Street2" type="xs:string" />
              <xs:element name="WebNumber" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ShippingInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AddressName" type="xs:string" />
              <xs:element name="City" type="xs:string" />
              <xs:element name="CompanyName" type="xs:string" />
              <xs:element name="Country" type="xs:string" />
              <xs:element name="FullName" type="xs:string" />
              <xs:element name="Phone" type="xs:string" />
              <xs:element name="Phone2" type="xs:string" />
              <xs:element name="Phone3" type="xs:string" />
              <xs:element name="Phone4" type="xs:string" />
              <xs:element name="PostalCode" type="xs:string" />
              <xs:element name="ShipBy" type="xs:date" />
              <xs:element name="Shipping" type="xs:decimal" />
              <xs:element name="State" type="xs:string" />
              <xs:element name="Street" type="xs:string" />
              <xs:element name="Street2" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SalesReceiptItemRet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ListID" type="xs:string" />
              <xs:element name="ALU" type="xs:string" />
              <xs:element name="Associate" type="xs:string" />
              <xs:element name="Attribute" type="xs:string" />
              <xs:element name="Commission" type="xs:decimal" />
              <xs:element name="Cost" type="xs:decimal" />
              <xs:element name="Desc1" type="xs:string" />
              <xs:element name="Desc2" type="xs:string" />
              <xs:element name="Discount" type="xs:decimal" />
              <xs:element name="DiscountPercent" type="xs:decimal" />
              <xs:element name="DiscountType" type="xs:string" />
              <xs:element name="DiscountSource" type="xs:string" />
              <xs:element name="ExtendedPrice" type="xs:decimal" />
              <xs:element name="ExtendedTax" type="xs:decimal" />
              <xs:element name="ItemNumber" type="xs:string" />
              <xs:element name="NumberOfBaseUnits" type="xs:string" />
              <xs:element name="Price" type="xs:decimal" />
              <xs:element name="PriceLevelNumber" type="xs:string" />
              <xs:element name="Qty" type="xs:string" />
              <xs:element name="SerialNumber" type="xs:string" />
              <xs:element name="Size" type="xs:string" />
              <xs:element name="TaxAmount" type="xs:decimal" />
              <xs:element name="TaxCode" type="xs:string" />
              <xs:element name="TaxPercentage" type="xs:decimal" />
              <xs:element name="UnitOfMeasure" type="xs:string" />
              <xs:element name="UPC" type="xs:string" />
              <xs:element name="WebDesc" type="xs:string" />
              <xs:element name="Manufacturer" type="xs:string" />
              <xs:element name="Weight" type="xs:decimal" />
              <xs:element name="WebSKU" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TenderAccountRet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TenderAmount" type="xs:decimal" />
              <xs:element name="TipAmount" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TenderCashRet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TenderAmount" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TenderCheckRet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CheckNumber" type="xs:string" />
              <xs:element name="TenderAmount" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TenderCreditCardRet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CardName" type="xs:string" />
              <xs:element name="TenderAmount" type="xs:decimal" />
              <xs:element name="TipAmount" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TenderDebitCardRet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Cashback" type="xs:decimal" />
              <xs:element name="TenderAmount" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TenderDepositRet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TenderAmount" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TenderGiftRet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GiftCertificateNumber" type="xs:string" />
              <xs:element name="TenderAmount" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TenderGiftCardRet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TenderAmount" type="xs:decimal" />
              <xs:element name="TipAmount" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DataExtRet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OwnerID" type="xs:string" />
              <xs:element name="DataExtName" type="xs:string" />
              <xs:element name="DataExtType" type="xs:string" />
              <xs:element name="DataExtValue" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>