Mitchells-QuickRx-Enterprise/QuickBooks/CustomerRet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerRet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ListID" type="xs:string" />
        <xs:element name="TimeCreated" type="xs:dateTime" />
        <xs:element name="TimeModified" type="xs:dateTime" />
        <xs:element name="AccountBalance" type="xs:decimal" />
        <xs:element name="AccountLimit" type="xs:decimal" />
        <xs:element name="AmountPastDue" type="xs:decimal" />
        <xs:element name="CompanyName" type="xs:string" />
        <xs:element name="CustomerID" type="xs:string" />
        <xs:element name="CustomerDiscPercent" type="xs:decimal" />
        <xs:element name="CustomerDiscType" type="xs:unsignedByte" />
        <xs:element name="CustomerType" type="xs:string" />
        <xs:element name="EMail" type="xs:string" />
        <xs:element name="IsOkToEMail" type="xs:boolean" />
        <xs:element name="FirstName" type="xs:string" />
        <xs:element name="FullName" type="xs:string" />
        <xs:element name="IsAcceptingChecks" type="xs:boolean" />
        <xs:element name="IsUsingChargeAccount" type="xs:boolean" />
        <xs:element name="IsUsingWithQB" type="xs:boolean" />
        <xs:element name="IsRewardsMember" type="xs:boolean" />
        <xs:element name="IsNoShipToBilling" type="xs:boolean" />
        <xs:element name="LastName" type="xs:string" />
        <xs:element name="LastSale" type="xs:string" />
        <xs:element name="Notes" type="xs:string" />
        <xs:element name="Phone" type="xs:string" />
        <xs:element name="Phone2" type="xs:string" />
        <xs:element name="Phone3" type="xs:string" />
        <xs:element name="Phone4" type="xs:string" />
        <xs:element name="PriceLevelNumber" type="xs:unsignedByte" />
        <xs:element name="Salutation" type="xs:string" />
        <xs:element name="StoreExchangeStatus" type="xs:unsignedByte" />
        <xs:element name="TaxCategory" type="xs:string" />
        <xs:element name="WebNumber" type="xs:string" />
        <xs:element name="BillAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="City" type="xs:string" />
              <xs:element name="Country" type="xs:string" />
              <xs:element name="PostalCode" type="xs:string" />
              <xs:element name="State" type="xs:string" />
              <xs:element name="Street" type="xs:string" />
              <xs:element name="Street2" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DefaultShipAddress" type="xs:string" />
        <xs:element name="ShipAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AddressName" type="xs:string" />
              <xs:element name="CompanyName" type="xs:string" />
              <xs:element name="FullName" type="xs:string" />
              <xs:element name="City" type="xs:string" />
              <xs:element name="Country" type="xs:string" />
              <xs:element name="PostalCode" type="xs:string" />
              <xs:element name="State" type="xs:string" />
              <xs:element name="Street" type="xs:string" />
              <xs:element name="Street2" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Reward">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RewardAmount" type="xs:decimal" />
              <xs:element name="RewardPercent" type="xs:decimal" />
              <xs:element name="EarnedDate" type="xs:dateTime" />
              <xs:element name="MatureDate" type="xs:dateTime" />
              <xs:element name="ExpirationDate" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DataExtRet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OwnerID" type="xs:string" />
              <xs:element name="DataExtName" type="xs:string" />
              <xs:element name="DataExtType" type="xs:unsignedByte" />
              <xs:element name="DataExtValue" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>